% -*- mode: erlang -*-
{deps, [{meck, ".*",
         {git, "git://github.com/noblesamurai/meck.git", {tag, "746832b84"}}},
        {amqp_client, ".*",
         {git, "git://github.com/noblesamurai/amqp_client.git", {tag, "0627ec5c1c"}}},
        {rabbit_common, ".*",
         {git, "git://github.com/noblesamurai/rabbit_common.git", {tag, "a7a0bd9a0dc"}}}]}.
{cover_enabled, true}.
{erl_opts, [debug_info]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used]}.
